<div class="container">
  <form>
    <h1>Registro</h1>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Escribe tu nombre" name="name" [(ngModel)]="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico</mat-label>
      <input matInput placeholder="Escribe tu correo electrónico" name="email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Escribe tu contraseña" value="" name="password" type="password"
             [(ngModel)]="password" required>
    </mat-form-field>
    <div class="auth">
      <button mat-raised-button color="primary" (click)="register()">
        Registrarse
      </button>
      <span>
        ¿Ya tienes una cuenta?<a class="session" [routerLink]="['/login']">Inicia sesión</a>
      </span>
    </div>
    <div class=" error" *ngIf="showErrors">No se puedo hacer el registro, verifica los datos</div>
  </form>
</div>
